<%- include('./partial/header') %>

<main id="js_main" class="ly_main">
  <section class="ly_section">
    <h2 class="el_h2"><span>ここはなに？</span></h2>
    <div class="bl_mediaUnit bl_mediaUnit2">
      <div class="bl_media bl_media_welcome">
        <div class="bl_media_text">
          <p>なんちゃってショッピングができるポートフォリオサイトです。</p>
          <p>チャットをするとお金が増えます。</p>
          <p>登録等は不要です。</p>
          <p>少しでも楽しんでいってもらえれば幸いです。</p>
        </div>
      </div>
      <div class="bl_media bl_chatView" id="js_chatView">
        <%- include('./partial/chatView', { chatLog, ss })  %>
          </div>
        </div>
      </div> <!-- end .bl_media .bl_chatView -->
    </div> <!-- end .bl_mediaUnit .bl_mediaUnit2" -->
  </section>
  <section class="ly_section">
    <h2 class="el_h2">販売品</h2>
    <div class="bl_cardUnit bl_cardUnit3">
      <div class="bl_card">
        <figure class="bl_card_imgWrapper hp_linkImg_parent">
          <a href="./item/app">
            <img src="/images/statics/app.svg" alt="app" class="hp_linkImg">
          </a>
        </figure>
        <a href="./item/app" class="hp_linkText_black">
          <div class="bl_card_title">
            <svg class="hp_icon_category"><use xlink:href="/images/icons/category.svg#app"></svg>
            <h3>作ったもの</h3>
          </div>
        </a>
      </div>
      <div class="bl_card">
        <figure class="bl_card_imgWrapper hp_linkImg_parent">
          <a href="./item/personnel">
            <img src="/images/statics/personnel.svg" alt="personnel" class="hp_linkImg">
          </a>
        </figure>
        <a href="./item/personnel" class="hp_linkText_black">
          <div class="bl_card_title">
            <svg class="hp_icon_category"><use xlink:href="/images/icons/category.svg#personnel"></svg>
            <h3>個人情報</h3>
          </div>
        </a>
      </div>
      <div class="bl_card">
        <figure class="bl_card_imgWrapper hp_linkImg_parent">
          <a href="./item/waste">
            <img src="/images/statics/waste.svg" alt="waste" class="hp_linkImg">
          </a>
        </figure>
        <a href="./item/waste" class="hp_linkText_black">
          <div class="bl_card_title">
            <svg class="hp_icon_category"><use xlink:href="/images/icons/category.svg#waste"></svg>
            <h3>無駄遣い</h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="ly_section" id="anchor_purchased">
    <h2 class="el_h2">購入済み</h2>
      <div class="bl_cardUnit bl_purchased">
      <% for(var i = 0; i < items.length; ++i) { %>
        <a href="/item/<%= items[i]['id'] %>">
          <div class="bl_card">
            <figure class="bl_card_imgWrapper hp_linkImg_parent">
              <% items[i]['idStr'] = ('00' + items[i]['id']).slice(-2); %>
              <img src="/images/items/<%= items[i]['idStr'] %>.png" class="hp_linkImg">
            </figure>
            <h3 class="bl_card_ttl bl_card_ttl__sm hp_linkText_black"><%=items[i]['title'] %></h3>
          </div>
        </a>
        <% } %>
      <% if(Object.keys(items).length == 0) { %>
        <p>現在、購入済みのアイテムはありません。</p>
      <% } %>
    </div>
  </section>
</main>

<%- include('./partial/footer') %>

</body>
</html>
