
<%- include('./partial/header', { ss }) %>
<main>
  <section class="ly_section">
    <div class="bl_item">
      <div class="bl_item_inner">
        <!-- image -->
        <figure class="bl_item_imgWrapper">
          <img src="/images/items/<%= item.idStr %>.png">
        </figure>
        <!-- base info -->
        <div class="bl_item_text">
          <h3 class="bl_item_text_title"><%= item.title %></h3>
          <p><%= item.type %></p>
          <p class="bl_item_text_reputation hp_centering">
            <span class="el_fiveStar" id="js_reputation">
              <%- item.starHtml %>
            </span>
            <span id="js_reputation_count">
              <%= item.rep_count %>個の評価
            </span>
          </p>
          <% if(isPurchased) { %>
            <p class="bl_item_text_reputation hp_centering">
              <span class="el_fiveStar el_fiveStar_self" id="js_myReputation">
                <%- item.myStarHtml %>
              </span>
              あなたの評価
            </p>
          <% } %>
          <p class="bl_item_price hp_centering">値段<img src="/images/icons/coin.svg" class="el_coin hp_icon_ss hp_marginLeft_5 hp_marginRight_5"><%= item.price %></p>
          <% if(isPurchased) { %>
            <p class="bl_item_purchasedCount"><%= ss.repository[item.id]%>個 購入済み</p>
          <% } %>
          <button class="el_btn el_btn_item hp_font_s" onclick="addBasketData('<%= item.idStr %>')">カートに入れる</button>
        </div>
      </div>
      <!-- content -->
      <% if(isPurchased) { %>
        <div class="bl_item_text_content hp_shadow">
          <h3>ご購入ありがとうございました</h3>
          <%- item.content %>
        </div>
      <% } %>
      <!-- description -->
      <div class="bl_item_description">
        <h3>説明</h3>
        <%- item.description %>
      </div>
    </div>
    <%
      let pre = '';
      let next = '';
      if(item.previous != null) {
        pre = `<a href="${item.previous.id}" class="hp_linkText">${item.previous.title}</a><img src="/images/icons/chevron_l.svg" class="hp_icon_ss hp_marginRight_5 hp_marginLeft_5">`;
      }
      if(item.next != null) {
        next = `<img src="/images/icons/chevron_r.svg" class="hp_icon_ss hp_marginRight_5 hp_marginLeft_5"><a href="${item.next.id}" class="hp_linkText">${item.next.title}</a>`;
      }
    %>
    <div class="hp_centering hp_marginTop_30 hp_justify_center el_path_footer">
        <%- pre %>
        <%= item.title %>
        <%- next %>
    </div>
    </section>
  </main>
  <%- include('./partial/footer') %>
</body>
</html>