
  <%- include('./partial/header', { myName: myName, myIcon: myIcon }) %>
  <main id="js_main" class="ly_main">
    <section class="ly_section">
      <h2 class="el_h2">ここはどこ？</h2>
      <div class="bl_mediaUnit bl_mediaUnit2">
        <div class="bl_media">
          <div class="bl_media_imgWarpper"><img src="/images/statics/greeting.png" alt="welcome_image"></div>
          <div class="bl_media_txt">
            <p>ここはなんちゃってショッピングができるポートフォリオサイトです。</p>
            <p>弾幕チャットをするとお金が増えます。</p>
            <p>楽しんでいってください。</p>
          </div>
        </div>
        <div class="bl_media bl_chatView" id="js_chatView">
          <% for(const obj of chatData) { %>
          <%- include('./partial/chatView', {obj, myId})  %>
          <% } %>
            </div>
          </div>
        </div> <!-- /.bl_media .bl_chatView -->
      </div> <!-- /.bl_mediaUnit .bl_mediaUnit2" -->
    </section>
    <section class="ly_section">
      <h2 class="el_h2">販売品</h2>
      <div class="bl_cardUnit bi_cardUnit3">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/app.svg" alt="app_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">作ったものとか</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/personnel.svg" alt="personnel_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">個人情報</h3>
        </div>
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/statics/waste.svg" alt="waste_image" style="width: 200px;"></figure>
          <h3 class="bl_card_ttl">無駄遣い</h3>
        </div>
      </div>
    </section>
    <section class="ly_section">
      <h2 class="el_h2">購入済み</h2>
      <div class="bl_cardUnit bl_cardUnit5">
        <div class="bl_card">
          <figure class="bl_card_imgWrapper"><img src="/images/items/01.png" alt=""></figure>
          <h3 class="bl_card_ttl bl_card_ttl__sm">購入品1</h3>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partial/footer') %>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // chat通信モジュール
    var socket = io();
    // チャット送信処理
    // const $icon = document.getElementById('js_chatInput_myIcon');
    const $name = document.getElementById('js_chatInput_name');
    const $msg = document.getElementById('js_chatInput_msg');
    const $sbm = document.getElementById('js_chatInput_sbm');
    $sbm.onclick = () => {
      const formData = {
        'myIcon' : '<%- myIcon %>',
        'myName' : $name.value,
        'myMsg': $msg.value
      };
      fetch('/emit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
          // credentials: 'same-origin',
        body: JSON.stringify(formData)
      })
      .then((data) => {
        if(data.ok) $msg.value = '';
      })
      .catch(err => console.error('Error:', err));
    }
    // Enter key でも送信可
    $msg.addEventListener("keydown", event => {
      if (event.isComposing || event.keyCode === 13) {
        $sbm.click();
      }
      return false;
    });
    // チャット受信処理
    const $chatView = document.getElementById('js_chatView');
    // s2c = server to client
    socket.on("s2c", (arg) => {
      // チャット一覧リセット
      $chatView.innerHTML = '';
      // 受信したデータでElement作成
      for(const obj of arg) {
        const $talk_block = document.createElement('div');
        $talk_block.className = 'bl_talk bl_tank__another';
        if(obj['sid'] == '<%= myId %>') {
        $talk_block.className = 'bl_talk';
        }
        $chatView.appendChild($talk_block);
        const $msg = document.createElement('p');
        $msg.className = 'bl_talkProfile_msg';
        $msg.textContent = obj['chat_msg'];
        $talk_block.appendChild($msg);
        const $profile = document.createElement('bl_talkProfile');
        $profile.className = 'bl_talkProfile';
        $talk_block.appendChild($profile);
        const $svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg')
	      const $use = document.createElementNS('http://www.w3.org/2000/svg', 'use');
        $use.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', `/images/icons/defs.svg#${obj['chat_icon']}`);
        $svg.appendChild($use);
        $profile.appendChild($svg);
        const $name = document.createElement('div');
        $name.className = 'bl_talkProfile_name';
        $name.textContent = obj['chat_name'];
        $profile.appendChild($name)
      }
    });
  </script>
</body>
<script>
</script>
</html>
