<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <style>
    #msgs > li:nth-child(odd) { background: #eee; }
    </style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title  %></h1>
    <p>Welcome to <%= title %> by test.ejs!</p>
    <p>your sid is <%= ss %> </p>
    <p>your snmae is <%= sname %> </p>
    <input type="text" id="inp">
    <input type="submit" id="sbm" value="エミッツ">
    <ul id="msgs"></ul> 

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      const $inp = document.getElementById('inp');
      const $smgs = document.getElementById('msgs');
      document.getElementById('sbm').onclick = () => {
        const formData = {
          'msg' : $inp.value
        };
        fetch('/emit', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'same-origin',
          body: JSON.stringify(formData)
        })
        .then(data => data.json())
        .then(data => {
          console.log(data);
        })
        .catch((err) => {
          console.error('Error:', err);
        });


        // .then((res) => {
        //   console.log(res);
        //   return res
        // }).then(function(data){
        //   console.log(data);
        // })
        // .catch(function(data) {
        //   console.log('catch',data)
        // //   console.log('a',res);
        // //   socket.emit("c2s", $inp.value);
        // });
        
      }
      socket.on("s2c", (arg) => {
        console.log(arg);
        const $li = document.createElement('li');
        $li.textContent = arg;
        $smgs.appendChild($li);
      });
    </script>
  </body>
</html>
