<footer id="js_footer">
  <div class="bl_footer">
    <p class="hp_absoluteCenter hp_centering el_path_footer">
      <% if(ss.path.length > 0) { %>
        <% for(let obj of ss.path) { %>
          <% let k = Object.keys(obj); %>
          <% if(k == 'here') { %>
            <%= obj[k] %>
          <% } else { %>
            <a href="<%= k %>" class="hp_linkText"><%= obj[k] %></a><img src="/images/icons/chevron_r.svg" class="hp_icon_ss">
          <% } %>
        <% } %>
      <% } %>
    </p>
    <p class="bl_footer_material hp_font_ss">素材元<br>
      <a href="https://kage-design.com/" class="hp_linkText">SILHOUETTE DESIGN</a><br>
      <a href="https://iconsvg.xyz/" class="hp_linkText">ICONSVG</a><br>
      <a href="https://hatchful.shopify.com/ja/" class="hp_linkText">HATCHFUL</a>
    </p>
  </div>
</footer>
<!-- アイコン選択窓 -->
<div class="un_pickIcon" id="js_pickIcon">
  <% for(let icon of common.iconAry) { %>
    <svg class="hp_icon_l" onclick="setMyIcon('<%= icon %>')"><use xlink:href="/images/icons/defs.svg#<%= icon %>"></svg>
  <% } %>
</div>
<!-- 買い物かご -->
<%-// include('./micromodal') %>
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">カートの中身</h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
      </main>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/micromodal.js"></script>
<script src="/javascripts/common.js"></script>
